# Archivos de configuración y credenciales
.env
credentials.js
node_modules/

# Carpetas de proyecto
domestika_courses/
logs/
N_m3u8DL-RE/

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.temp
.cache/

# Resto de configuraciones de desarrollo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace